<div class="row">
    <div class="col-md-6 col-offset-3">
        <h4>Please input your username and password</h4>
        <form ng-submit="submit()" name="lForm">
            <div class="form-group">
                <label>USERNAME IS:</label>
                <input type="text" name="username" class="form-control" ng-model="username" placeholder="Username" required>
                <span style="color:red" ng-show="lForm.username.$dirty">
                    <span ng-show="lForm.username.$error.required">Username is required</span>
                </span>
            </div>
            <div class="form-group">
                <label >PASSWORD IS:</label>
                <input class="form-control" type="password" name="pwd" ng-model="password" placeholder="password" required>
                <span style="color:red" ng-show="lForm.pwd.$dirty">
                    <span ng-show="lForm.pwd.$error.required">Password is required</span>
                </span>
            </div>

            <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>

</div>