<div class="row">
    <h2>Your profile as follows:</h2>
    <div class="col-md-5 col-md-offset-2">
        <div class="row">
            <h3>Your email is:</h3>
            <h2><span style="color:rebeccapurple">{{email}}</span></h2>
        </div>

        <div class="row">
            <h3>Your username is:</h3>
            <h2><span style="color:rebeccapurple">{{username}}</span></h2>
        </div>
        <div class="row">
            <h3>Your password is:</h3>
            <h2><span style="color:rebeccapurple">{{password}}</span></h2>
        </div>

        <h2><a href="#/" type="button" class="btn btn-primary">Return back to tinyUrl</a></h2>
    </div>
</div>